[Unit]
Description=key-value + pid in memory storage

[Service]
User=%I
ExecStart=/usr/bin/glod server
Restart=always

[Install]
WantedBy=basic.target
